@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

body{
  background-image: url('/img/wall.jpg'); /* Chemin relatif à partir de `public` */
  background-size: cover;
  background-position: center;
  height: 100%;
}
.app {
  text-align: center;
  padding: 2rem;
  /* background-image: url('/img/wall.jpg');  */
  /* background-size: cover; */
  /* background-position: center; */
  /* height: 100%; */
}

.bar-container {
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 30px;
  margin: 20px auto;
}

.bar {
  height: 100%;
  width: 100%; 
  background-color: rgb(58, 58, 58);
  /* background: linear-gradient(to right, red, orange, yellow, green); */
  transition: width 0.3s ease;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 25px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  border-radius: 25%;
  border: rgb(255, 0, 0) 4px solid;
}

.special {
  background: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  font-weight: bold;
  animation: pulse 1s infinite;
}

.punch-container img {
  width: 200px;
  transition: transform 0.2s;
}

.punch-container.hit img {
  transform: scale(1.1) rotate(-5deg);
}